{% import _self as macros %}

{% set scope = {
    menu: [
        {
            url: '/',
            name: 'Релизованные проекты',
        },
        {
            url: '/',
            name: 'Новости',
        },
        {
            url: '/',
            name: 'Контакты',
        },

    ],
    phone:  '+7 (900) 900-90-90',
} %}

{% macro content(scope) %}
    <div class="Container Header">
        <div class="Header__logo">
            {{ macros.logo }}
        </div>

        <div class="Header__menu">
            {% include '@components/site-nav/site-nav.twig' 
                with {
                    items: scope.menu,
                }
            %}
        </div>

        <div class="Header__phone">
            {{ macros.phone(scope.phone) }}
        </div>

        <div class="Header__button">
        {{ macros.button }}
        </div>

    </div>
{% endmacro %}

{{ macros.content(scope) }}

{% macro logo() %}
    <a href="{{ route('home') }}">
        <img
            src="{{ 'assets/images/logo.png' }}"
            alt="logo"
        >
    </a>
{% endmacro %} 

{% macro phone(phone) %}
    {% set phone = phone ?? '' %}
    <a href="tel:{{ phone }}" class="PrimaryPhone">
        <img class="PrimaryPhone__icon"
            src="{{ 'assets/icons/phone.svg' }}"
            alt="phone"
        >
        {{ phone }}
    </a>
{% endmacro %}

{% macro button() %}
    <button type="button" class="Button Button--primary">
        Оставить заявку
    </button>
{% endmacro %}